
<link href="{{ base_path_success }}/themes/custom/Netel/css/style.css" rel="stylesheet"/>

{% set left = left|render %}
{% set middle = middle|render %}
{% set right = right|render %}

{% if (left and not right) or (right and not left) %}
  {% set layout_class = 'group-one-sidebar' %}
{% elseif (left and right) %}
  {% set layout_class = 'group-two-sidebars' %}
{% elseif (left) %}
  {% set layout_class = 'group-sidebar-left' %}
{% elseif (right) %}
  {% set layout_class = 'group-sidebar-right' %}
{% endif %}

<{{ outer_wrapper }}{{ attributes.addClass(layout_class, 'ds-3col-stacked-fluid', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <{{ header_wrapper }}{{ header_attributes.addClass('group-header') }}>
    {{ header }}
  </{{ header_wrapper }}>

  {% if left %}
    <{{ left_wrapper }}{{ left_attributes.addClass('group-left') }}>
      {{ left }}
    </{{ left_wrapper }}>
  {% endif %}

  {% if middle %}
    <{{ middle_wrapper }}{{ middle_attributes.addClass('group-middle') }}>
      {{ middle }}
    </{{ middle_wrapper }}>
  {% endif %}

  {% if right %}
    <{{ right_wrapper }}{{ right_attributes.addClass('group-right') }}>
      {{ right }}
    </{{ right_wrapper }}>
  {% endif %}

  <{{ footer_wrapper }}{{ footer_attributes.addClass('group-footer') }}>
    {{ footer }}
  </{{ footer_wrapper }}>

<!------------------------------------------------------------------------------------>
      <div class="card-top">
              <div class="card-top-one" style="background-color: #c14000;">
                  <svg class="circle" height="100" width="100">
                      <circle cx="50" cy="50" r="35" stroke="white" stroke-width="2" fill="transparent" />
                  </svg> 
                  <img src="/themes/custom/Netel/images/laptop.png" class="icon-image" alt="laptop" style="width:24px;height:24px">
                  <LaptopIcon></LaptopIcon>
                  <div class="card-top-one-body" style="background-color: #c14000;">
                      <h3 class="card-top-one-title">Time is the Essence</h3>
                      <p class="card-top-one-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni odit ex voluptas illum aperiam delectus mollitia commodi possimus quidem!</p>
                  </div>
              </div>

              <div class="card-top-one"  style="background-color: #009987;">
                  <svg class="circle" height="100" width="100">
                      <circle cx="50" cy="50" r="35" stroke="white" stroke-width="2" fill="transparent" />
                  </svg>
                  <img src="/themes/custom/Netel/images/phone.png" class="icon-image" alt="phone" style="width:24px;height:24px">
                  <div class="card-top-one-body" style="background-color: #009987;">
                      <h3 class="card-top-one-title">The Best Piano Song</h3>
                      <p class="card-top-one-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni odit ex voluptas illum aperiam delectus mollitia commodi possimus quidem!</p>
                  </div>
              </div>

              <div class="card-top-one" style="background-color: #fea501;">
                  <svg class="circle" height="100" width="100">
                      <circle cx="50" cy="50" r="35" stroke="white" stroke-width="2" fill="transparent" />
                  </svg>
                  <img src="/themes/custom/Netel/images/support.png" class="icon-image" alt="support" style="width:24px;height:24px">
                  <div class="card-top-one-body" style="background-color: #fea501;">
                      <h3 class="card-top-one-title">Grapes of Wrath</h3>
                      <p class="card-top-one-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni odit ex voluptas illum aperiam delectus mollitia commodi possimus quidem!  
                      </p>
                  </div>
              </div>
          </div>

<!------------------------------------------------------------------------------------>
          <div class="card-middle">
            <div class="card-middle-one">
                <div class="card-middle-one-body" style="background-color: transparent;">
                    <img class="card-middle-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                </div>
            </div>

            <div class="card-middle-one"  style="background-color: #191919;">
                <div class="card-middle-one-body" style="background-color:#191919;">
                    <h3 class="card-middle-one-title">Startup Business</h3>
                    <p class="card-middle-one-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni odit ex voluptas illum aperiam delectus mollitia commodi possimus quidem!
                    </p>
                    <p class="card-middle-one-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni odit ex voluptas illum aperiam delectus mollitia commodi possimus quidem!
                    </p>
                    <div class="learn-more">
                        <div class="learn-more-content">
                            LEARN MORE
                        </div>
                    </div>
                </div>
            </div>
          </div>
<!------------------------------------------------------------------------------------>
          <div class="card-bottom">
            <div class="card-bottom-upper-text">
                Recent Projects
            </div>
              <div class="card-bottom-lower-text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aspernatur architecto suscipit debitis ullam repellat consequatur, ab magni hic, vel dolore!
              </div>
            <div class="card-bottom-outer">
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                </div>
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                   </div>
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                   </div>
            </div>
            <div class="card-bottom-outer">    
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                </div>
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                </div>
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                    </div>
                <div class="card-bottom-inner">
                        <img class="card-bottom-image" src="/themes/custom/Netel/images/Man-with-Laptop.jpg" alt="man-with-laptop">
                </div>
            </div>
            <div class="learn-more-bottom">
                <div class="learn-more-bottom-content">
                    LEARN MORE
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------>
    <div class="card-down">
        <div class="card-down-one" style="background-color:#1c1c1c;">
            <img src="/themes/custom/Netel/images/pogo.png" class="icon-image1" alt="laptop">
            <div class="card-down-one-body" style="background-color:#1c1c1c;">
            <p class="card-down-one-text">
                Onetel is free Bootstrap v3.3.5 HTML5 layout from templatemo website. Feel free to use it for your website.
            </p>
            <p> <img class="svg-icon" src="/themes/custom/Netel/images/phone-solid.svg"> info@company.com</p>
            <p> <img class="svg-icon" src="/themes/custom/Netel/images/earth-asia-solid.svg"> www.company.com</p>
            <p> <img class="svg-icon" src="/themes/custom/Netel/images/envelope-regular.svg"> 010-020-0340</p>
            </div>
        </div>

        <div class="card-down-two"  style="background-color: #1c1c1c;">
            <div class="card-down-two-body" style="background-color: #1c1c1c;">
                <h3 class="card-down-two-title">Useful Links</h3>
                <p>
                    <p class="card-down-two-text"> HTML5 Templates </p>
                    <p class="card-down-two-text"> CSS3 Tricks </p>
                    <p class="card-down-two-text"> Design Blog </p>
                    <p class="card-down-two-text"> Animations </p>
                </p>
            </div>
        </div>

        <div class="card-down-one" style="background-color: #1c1c1c;">
            <div class="card-down-one-body" style="background-color: #1c1c1c;">
                <h3 class="card-down-one-title">Newsletter</h3>
                <p class="card-down-one-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis asperiores error eius?  
                </p>
                <form action="#" method="post">
                    <input class="mail-input" type="text" placeholder=" Enter your Email" id="fname" type="email" name="fname">
                    <button class="mail-btn" type="submit" name="submit" class="btn email">Submit</button>
                </form>
            </div>
        </div>
    </div>
</{{ outer_wrapper }}>
