<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<div class="card-down-one">
    <div class="icon-image1">
        {{fields.field_card_bottom_one_image.content}}
    </div>
    <div class="card-down-one-body" >
        <div class="card-down-one-text">
            {{fields.field_card_bottom_one_text.content}}
        </div>
            <div class="svg-icon">
                {{fields.field_card_bottom_one_icon_1.content}}
            {{fields.field_card_bottom_one_icon_t1.content}}
            </div>
            <div class="svg-icon">
                {{fields.field_card_bottom_one_icon_i2.content}}
            {{fields.field_card_bottom_one_icon_t2.content}}
            </div>
            <div class="svg-icon">
                {{fields.field_card_bottom_one_icon_i3.content}}
            {{fields.field_card_bottom_one_icon_t3.content}}
            </div>
    </div>
</div>
