<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<div class="card-bottom">
    <div class="card-bottom-upper-text">{{fields.field_card_seven_title.content}}
    </div>
        <div class="card-bottom-lower-text">
        {{fields.field_card_seven_text.content}}
        </div>

    <div class="card-bottom-outer">
        <div class="card-bottom-inner">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r11.content}}
            </div>
        </div>
        {# <div class="card-bottom-inner">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r12.content}}
            </div>
        </div>
        <div class="card-bottom-inner">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r13.content}}
            </div>    
        </div> #}
    </div>

    <div class="card-bottom-outer-two">
        <div class="card-bottom-inner-two">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r21.content}}
            </div>
        </div>
        {# <div class="card-bottom-inner-two">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r22.content}}
            </div>    
        </div>
        <div class="card-bottom-inner-two">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r23.content}}
            </div>    
        </div>
        <div class="card-bottom-inner-two">
            <div class="card-bottom-image">
                {{fields.field_card_seven_r24.content}}
            </div>
        </div> #}
    </div>

    <div class="learn-more-bottom">
        <div class="learn-more-bottom-content">
            {{fields.field_card_seven_extra_pointer.content}}
        </div>
    </div>
</div>
