<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<link href="{{ base_path_success }}/themes/custom/netel/css/style.css" rel="stylesheet"/>
<div class="card-middle">
    <div class="card-middle-one">
        <div class="card-middle-one-body" style="background-color: transparent;">
            <div class="card-middle-image">
                {{fields.field_two_tile_image_left.content}}
            </div>
        </div>
    </div>

    <div class="card-middle-two" style="background-color: #191919;">
        <div class="card-middle-two-body" style="background-color:#191919;">
            <h3 class="card-middle-two-title">{{fields.field_two_tile_title.content}}</h3> 
            <div class="card-middle-two-text">
                {{fields.field_body_one.content}}
                {{fields.field_body_two.content}}
            </div>
            <div class="learn-more">
                <div class="learn-more-content">{{fields.field_extra_pointer.content}}
                </div>
            </div>
        </div>
    </div>
</div>