<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<div class="card-down-one">
    <div class="card-down-two">
        <div class="card-down-two-body">
            <div class="card-down-two-title">
                <h3 class="card-down-two-title">
                    {{fields.field_card_bottom_two_text_1.content}}
                </h3>
            </div>
            <p>
                &nbsp;
            </p>
                <p class="card-down-two-text">{{fields.field_card_bottom_two_link_1.content}}</p>
                <p class="card-down-two-text">{{fields.field_card_bottom_two_link_2.content}}</p>
                <p class="card-down-two-text">{{fields.field_card_bottom_two_link_3.content}}</p>
                <p class="card-down-two-text">{{fields.field_card_bottom_two_link_4.content}}</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>